.combat-panel {
	
}

/* START ENEMY DETAILS */
.enemy-list{
	overflow: auto;
	height: auto;
	font-size: 0;
}

.enemy-detail {
	border: 3px solid #b3b3b3;
	margin: 3px;
	padding: 3px;
	border-radius: 6px;
}

.enemy-detail .container {
	width: 100%;
	display: inline-block;
}

.enemy-detail .pick {
	width: 20%;
	padding-bottom: 20%;
	float: left;
	background-color: white;
	border-radius: 6px;
	position: relative;
}

.enemy-detail .skills {
	width: 20%;
	float: right;
}

.enemy-detail .skill {
    width: 45%;
    float: left;
    background-color: red;
	position: relative;
	margin-bottom: 5%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	border-radius: 5px;
}

.enemy-detail .pick .level {
	position: absolute;
	bottom: 0;
	right: 0;
	color: black;
	padding: 3px;
	font-weight: bold;
}

.enemy-detail .info {
	width: 60%;
	float: left;
}

.enemy-detail .name, .combat-log .info-message {
	padding-bottom: 5px;
}

.enemy-detail .enemy-life, .enemy-detail .enemy-mana {
	border-radius: 6px;
	background-color: grey;
	text-align: center;
	margin: 0px 3px 3px 3px;
	border: 1px solid white;
	position: relative;
	overflow: hidden;
}
/* END ENEMY DETAILS */

/* START COMBAT LOG */
.combat-log{
	border: 3px solid white;
	margin: 3px;
	padding: 3px;
	border-radius: 6px;
	font-size: 0;
}

.combat-log .log-list{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.combat-log .log-detail{
	position: relative;
	display: inline-block;
	text-align: center;
	margin-right: 5px;
}

.combat-log .enemy-pick{
    background-color: white;
	display: inline-block;
	border-radius: 6px;
}

.combat-log .damage-done{
	margin-top: 3px;
}
/* END COMBAT LOG */

.status-section{
    display: inline-block;
    width: 100%;
}

.enemy-status, .hero-status{
	text-align: center;
}

.name-bar{

}

.life-bar, .mana-bar{
	border-radius: 6px;
	border: 1px solid white;
	margin: 2px 10px;
	background-color: grey;
	overflow: hidden;
	position: relative;
}

.life, .mana, .counter{
	width: 100%;
	position: absolute;
	height: 100%;
	border-right: 1px solid white;
}

.life{
	background-color: red;
}

.combat-action{
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    background-color: red;
    display: inline-block;
	position: relative;
	border: 1px solid black;
	border-radius: 6px;
	/*
	background-image: url(../img/brick.png);
	background-size: cover;
	*/
}

.mana{
	background-color: blue;
}

.combat-panel .action {
	font-size: 0;
	text-align: center;
}

/* incio estilos de cooldown de habilidades */
.cooldown-box{
	width:100%;
	height:100%;
	overflow:hidden;
	border-radius:12px;
	position:absolute;
}

.cooldown-decoration {
	width: 100%;
	height: 100%;
	border: 0;
}

.cooldown{
	position:absolute;
	top:5%;
	left:5%;
	width:90%;
	height:90%;
	overflow:hidden;
	opacity:0;
}	

.cooldown-half{
	width:50%;
	height:100%;
	overflow:hidden;
	position:relative;
	float:left;
}

.cooldown-half-rotator{
	width:200%;
	height:200%;
	top:-50%;
	position:absolute;
	background-color:rgba(1,1,1,0.5);
}

.cooldown-half-rotator-right{
	transform-origin:left center;
}

.cooldown-half-rotator-left{
	right:0;
	transform-origin:right center;
}
/* fin estilos de cooldown de habilidades */